<div class="row">

	<form class="col s12" method="POST" action="/login">
		<div class="row">
			<div class="input-field col s6">

				<input placeholder="Enter username" id="username" name="username" type="text">
			</div>
		</div>

		<div class="row">
			<div class="input-field col s12">
				<input placeholder="Enter password" id="password" name="password" type="password">
			</div>
		</div>

		<ul class="list-inline">
			<li>
				<a class="waves-effect waves-light btn" href="/">Cancel</a>
			</li>
			<li>
				<button class="waves-effect waves-light btn" type="submit">Submit</button>
			</li>
		</ul>

	</form>
</div>